:root {
  --black: #000000;
  --gray-1: #131313;
  --gray-2: #252525;
  --gray-25: #444444;
  --gray-3: #999999;
  --gray-4: #EEEEEE;
  --red-1: #6C0404;
  --red-2: #AF0404;
  --red-3: #AF4242;
  --red-4: #FF6C6C;

  --status-z-index: 20;
  --header-z-index: 19;
}


html
{
	scroll-behavior: smooth;
}

body
{
	font-family: 'Saira Condensed', sans-serif;
	background-color: var(--black);
	color: var(--gray-4);
}

.inner
{
	width: 100%;
	max-width: 90em;
	margin: 0 auto;
}

a
{
	color: var(--red-4);
}

a:hover
{
	text-decoration: none;
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

textarea, input[type="text"], input[type="date"], input[type="email"],
	input[type="password"], input[type="search"], input[type="time"],
	input[type="number"]
{
	border: none;
	background-color: var(--gray-2);
	color: var(--gray-4);
	height: 2em;
}

textarea:focus, input[type="text"]:focus, input[type="date"]:focus,
	input[type="email"]:focus, input[type="password"]:focus,
	input[type="search"]:focus, input[type="time"]:focus,
	input[type="number"]:focus
{
    border: 1px solid var(--red-1);
}

button, input[type="submit"]
{
	border: none;
	background-color: var(--gray-2);
	color: var(--gray-4);
	box-shadow: 0px 0px 3px #00000055;
	outline: none;
	padding: 0.4em;
	margin: 0.2em;
	height: 2em;
	cursor: pointer;
}

button:active, input[type="submit"]:active
{
	box-shadow: none;
	box-sizing: border-box;
    background-color: var(--red-1);
}

button[disabled=disabled], button:disabled, input[type="submit"]:disabled
{
	background-color: transparent;
	border: 1px solid var(--gray-2);
	color: var(--gray-3);
	cursor: auto;
}

/* HEADER ------------------------------------------------------------- */

header
{
	background-color: var(--gray-1);
	padding: 0.5em;
	overflow: auto; /* Otherwise the #user-controls float escapes the container */
	border-bottom: 4px solid var(--red-2);
}

header h1
{
	margin: 0.1em;
}

header h1 img
{
	height: 2em;
}

#heading
{
	display: inline-block;
}

header nav ul
{
	margin: 0;
	padding: 0;
	display: inline-block;
}

header nav ul li
{
	display: inline-block;
	padding: 0 0.5em;
	margin: 0;
	border-right: 1px solid var(--gray-4);
}

header nav ul li:last-child
{
	border-right: none;
}

header nav ul li a
{
	color: var(--gray-4);
	text-decoration: none;
}

header nav ul li a:hover
{
	text-decoration: underline;
}

a
{
	color: var(--red-4);
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

header nav ul li:last-child
{
	border-right: none;
}

header #user-controls
{
	margin: 0.5em;
	float: right;
}

#login-form div
{
	display: inline-block;
	margin: 0.2em;
}

#login-form div input[type="text"], #login-form div input[type="password"]
{
	width: 8em;
	display: block;
}

#login-welcome, #login-logout
{
	display: none;
	float: right;
	clear: both;
}

/* INFO BANNER ------------------------------------------------------------- */

#info-banner
{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;

	z-index: var(--status-z-index); /* Otherwise the aladin map is on top */
	padding: 0.7em;
	background-color: var(--red-2);
	color: var(--gray-4);
	box-shadow: 0px 0px 3px #00000055;
	transition: all ease-in-out 0.1s;
}

/* Leave space so the banner is not shown above the footer */
body
{
	/* margin-bottom: ???; */ /* Done on javascript at startup */
}

#info-toggle
{
	position: absolute;
	top: -2em;
	right: 1em;

	height: 2em;
	margin: 0;
	background-color: var(--red-2);
	color: var(--gray-4);
	box-shadow: 0px 0px 3px #00000055;
	visibility: visible; /* So this is shown even of the parent is hidden */

	/* Leave space for the icon */
	text-align: left;
	padding-left: 1.9em;
}

/* Used to add a icon to the button */
#info-toggle:before
{
	position: absolute;
	left: 0em;
	top: 0em;

	content: "";
	width: 1.3em;
	height: 100%;
	padding-left: 0.5em;
	opacity: 0.8;
	background-image: url('resources/info-toggle.svg');
	background-position: left;
	background-repeat: no-repeat;
	background-origin: content-box; /* So the image is inside the padding */
	background-size: contain;
}

#info-toggle:active
{
	background-color: var(--red-1);
}

/* REGISTER -------------------------------------------------------------- */

#user-controls {
	margin: 1em auto;
}

#register-submit {
	margin: 0;
	margin-top: 1em;
}

#register-form {
	max-width: 20em;
	display: block;
	margin: 0 auto;
	background-color: var(--gray-1);
	padding: 1em;
}

#register-form div {
	margin: 1em 0;
}

#register-password, #register-username, #confirm-password {
	width: 100%;
}

/* CHANGE PASSWORD ---------------------------------------------------- */

#password-controls {
	margin: 1em auto;
}

#passchange-form {
	max-width: 20em;
	display: block;
	margin: 1em auto;
	background-color: var(--gray-1);
	padding: 1em;
}

#passchange-form div {
	margin: 1em 0;
}

#username, #old-password, #new-password, #confirm-new-password {
	width: 100%;
}

#change-password {
	margin: 0;
	margin-top: 1em;
}

/* FOOTER ------------------------------------------------------------- */

footer
{
	background-color: var(--gray-1);
	padding: 0.5em;
	border-top: 4px solid var(--red-2);
}

/* CONTENT ------------------------------------------------------------ */

main .inner {
	display: flex;
	align-items: flex-start;
}

#content
{
	padding: 1em;
	flex-grow: 2;
	width: 100%;
	max-width: 70em;
}

#content h2
{
	font-size: 30px;
	border-bottom: 4px solid var(--red-2);
    background-color: var(--black);
    position: sticky;
    top: 0px;
    z-index: var(--header-z-index);
    margin-top: 0;
}

.hidden-anchor {
    margin-top: 1em;
}

#celestial-container
{
	margin: 0 auto;
	width: 100vh;
	max-width: 100%;
}

#celestial-form
{
	display: none;
}

#aladin-map
{
	margin: 0 auto;
	width: 80vh;
	max-width: 100%;
	height: 50vh;
	border: none !important; /* Set by aladin stylesheet */
}

/* Override aladin style */
.aladin-location-text
{
	color: #000000;
}

.aladin-popup
{
	color: #333333;
}

.observation-form
{
	display: flex;
	align-items: flex-end;
	max-width: 30em;
}

.observation-form div
{
	flex: 1;
	margin: 0.2em;
}

.observation-form div input
{
	width: 100%;
}

.test-canvas {
	height: 2em;
	width: 4em;
	margin: 1em;
  border: 1px solid white;
}

/* SIDEBAR ------------------------------------------------------------ */

#sidebar
{
	position: sticky;
	top: 1em;
	flex-shrink: 0;
	flex-basis: 10em;
	margin: 1em;
	max-width: 15em;
}

#sidebar span
{
	color: var(--gray-3);
}

#sidebar nav ol
{
	list-style: none;
	padding: 0;
	margin: 0;
}

#sidebar nav ol li
{
	margin: 0.5em;
}

#sidebar nav a
{
	color: var(--gray-4);
	text-decoration: underline;
}

#sidebar nav a:hover
{
	text-decoration: none;
}

@media screen and (max-width: 1000px) {

	#sidebar
	{
		display: none;
		visibility: hidden;
	}

}

/* FILTER --------------------------------------------------------------*/

.table-advanced .toggle
{
	margin: 0;
	position: relative;

	/* Leave space for the icon */
	text-align: left;
	padding-left: 1.9em;
}

/* Used to add a icon to the button */
.table-advanced .toggle:before
{
	position: absolute;
	left: 0em;
	top: 0em;
	transform: rotate(180deg);

	content: "";
	width: 1.3em;
	height: 100%;
	padding-right: 0.5em; /* Actually is a left padding because of the rotation */
	opacity: 0.8;
	background-image: url('resources/info-toggle.svg');
	background-position: left;
	background-repeat: no-repeat;
	background-origin: content-box; /* So the image is inside the padding */
	background-size: contain;
}

.table-advanced .collapse
{
	margin-top: 0 !important;
	display: none;
	visibility: hidden;
	overflow: hidden;
}

.table-form
{
	padding: 0.7em;
	margin: 1em 0;
	background-color: var(--gray-1);
}

fieldset div
{
	display: inline-block;
	margin: 0 0.7em;
}

fieldset
{
	border: 1px solid var(--gray-2);
	margin-bottom: 0.7em;
}

legend {
	padding: 0.2em 0.5em;
}

.table-form input[type="submit"] {
	margin-top: 0.7em;
}

.table-form input[type="search"]
{
	width: 100%;
	max-width: 30em;
	min-width: 3em;
}

/* TABLE -------------------------------------------------------------- */

.objects-table
{
	width: 100%;
	border-collapse: collapse;
}

.objects-table th
{
	height: 1.5em;
	padding: 0.4em;
	position: relative;
	cursor: pointer;

	/* Leave space for the icon */
	text-align: left;
	padding-left: 1.7em;
}

/* Used to add a icon to the button */
.objects-table th:before
{
	position: absolute;
	left: 0em;
	top: 0em;
	visibility: hidden;

	content: "";
	width: 1em;
	height: 100%;
	padding-left: 0.5em;
	opacity: 0.8;
	background-image: url('resources/sort-triangle.svg');
	background-position: left;
	background-repeat: no-repeat;
	background-origin: content-box; /* So the image is inside the padding */
	background-size: contain;
}

.objects-table th:hover
{
	background-color: var(--red-1);
}

.objects-table th:active
{
	background-color: var(--red-2);
}

.objects-table td
{
	padding: 0.4em;
	white-space: pre-wrap;
}

.objects-table thead
{
	background-color: var(--gray-2);
	color: var(--gray-4);
}

.objects-table tbody tr:nth-child(odd)
{
	background-color: var(--gray-1);
}

.objects-table tbody tr:nth-child(even)
{
	background-color: var(--black);
}

.objects-label
{
	color: #555555; /* TODO */
	display: none;
}

.objects-ra-dec > span, .objects-alt-az > span
{
	display: block;
}

.objects-ra-dec > span > span, .objects-alt-az > span > span
{
	display: inline;
}

.objects-table td
{
	white-space: nowrap;
	vertical-align: bottom;
}

.objects-table td.objects-name
{
	font-weight: 700;
}

.objects-table td.objects-notes
{
	width: 100%; /* Expand notes column until there is no space remaining */
}

.objects-table td.objects-notes textarea
{
	width: 100%;
	resize: vertical;
	min-height: 2.5em;
	background-color: transparent;
	border: 1px solid var(--gray-2);
}

.objects-table td.objects-notes textarea:focus {
	background-color: var(--gray-2);
	border: 1px solid var(--red-1);
}

.objects-table td.objects-appears-on ul {
	padding: 0;
	margin: 0;
	list-style: none;
	white-space: pre-wrap;
}

.objects-table td.objects-appears-on li {
	display: inline-block;
	margin: 0 0.2em;
	padding: 0.2em;
	border: 1px solid var(--gray-25);
}

@media screen and (max-width: 750px) {

	.objects-table thead
	{
		display: none;
	}

	.objects-label
	{
		display: inherit;
	}

	.objects-table td
	{
		display: inline-block;
	}

	.objects-table tbody tr:nth-child(even)
	{
		background-color: #282828; /* TODO */
	}

	.objects-table tbody tr:nth-child(odd)
	{
		background-color: #333333; /* TODO */
	}

}

.table-pagination
{
	margin: 0;
	margin-top: 1em;
	padding: 0.5em;
	width: 100%;
	background-color: var(--gray-1);
	overflow: auto;
}

.table-pagination button
{
	margin: 0;
	padding: 0;
	background-color: transparent;
	color: var(--red-4);
	text-decoration: underline;
	box-shadow: none;
	height: auto;
}

.table-pagination button[disabled=disabled], .table-pagination button:disabled
{
	color: var(--gray-3);
	text-decoration: none;
	cursor: default;
}

.table-pagination button:hover
{
	text-decoration: none;
}

.table-pagination .table-stats
{
	float: left;
}

.table-pagination .table-controls
{
	float: right;
}
