body
{
	font-family: sans-serif;
	background-color: #333333;
	color: #EEEEEE;
}

a
{
	color: #AAAAFF;
}

header
{
	background-color: #555555;
	padding: 0.5em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

header h1
{
	flex: 1;
}

header #user-controls
{
	flex: 1;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

header #user-controls form
{
	flex: 1;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

header #user-controls form div
{
	flex: 1;
}

header #user-controls form div input
{
	width: 100%;
	min-width: 1em;
}

footer
{
	background-color: #555555;
	padding: 0.5em;
}

main#content
{
	margin: 0 auto;
	max-width: 50em;

}

#celestial-map
{

}
