body
{
	font-family: 'Saira Condensed', sans-serif;
	background-color: #222222;
	color: #EEEEEE;
}

a
{
	color: #AAAAFF;
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* HEADER ------------------------------------------------------------- */

header
{
	background-color: #333333;
	padding: 0.5em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

header h1
{
	flex: 1;
	font-size: 50px;
	margin: 0.1em;
}

header #user-controls
{
	flex: 1;
	margin: 0.5em;
}

header #user-controls form
{
}

header #user-controls form div
{
	display: inline-block;
	width: 8em;
	margin: 0.2em;
}

header #user-controls form div input
{
	width: 100%;
	height: 2em;
}

#login-submit
{
	height: 2em;
}

/* FOOTER ------------------------------------------------------------- */

footer
{
	background-color: #333333;
	padding: 0.5em;
}

/* CONTENT ------------------------------------------------------------ */

main#content
{
	margin: 0 auto;
	max-width: 70em;
	padding: 1em;
}

main#content h2
{
	border-bottom: 3px solid #777777;
	font-size: 30px;
}

#celestial-container
{
	margin: 0 auto;
	width: 100vh;
	max-width: 100%;
}

#aladin-container
{

}

#aladin-map
{
	margin: 0 auto;
	width: 80vh;
	max-width: 100%;
	height: 50vh;
	border: none; !important /* Set by aladin stylesheet */
}

#location-form div
{
	display: inline-block;
	margin: 0.2em;
}

#location-form div input
{
	width: 100%;
	height: 2em;
}

#location-form div button
{
	height: 2em;
}

/* TABLE -------------------------------------------------------------- */

#watch-table
{
	margin: 1em 0;
	width: 100%;
	border-collapse: collapse;
}

#watch-table th, #watch-table td
{
	padding: 0.4em;
}

#watch-table thead
{
  background-color: #444444;
}

#watch-table tbody tr:nth-child(odd)
{
  background-color: #282828;
}

#watch-table tbody tr:nth-child(even)
{
  background-color: #333333;
}

